{#
/**
 * @file
 * Default theme implementation for a three-column layout.
 *
 * Bootstrap classes provide three equal-width columns at b400.
 * https://getbootstrap.com/docs/4.0/layout/grid/
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'row',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>

    {% if content.first %}
      <div {{ region_attributes.first.addClass('col-xs-4') }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass('col-xs-4') }}>
        {{ content.second }}
      </div>
    {% endif %}

    {% if content.third %}
      <div {{ region_attributes.third.addClass('col-xs-4') }}>
        {{ content.third }}
      </div>
    {% endif %}

  </div>
{% endif %}
